@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-size: 30px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000;
}

.container {
  max-width: 1655px;
  padding: 0 15px;
  margin: 0 auto;
}

/*------------------------------------*/
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 120px;
}
.header__logo {
  font-style: normal;
  font-weight: 800;
  font-size: 37px;
  line-height: 56px;
  position: relative;
  margin-left: 65px;
}
.header__logo::after {
  content: "";
  width: 46px;
  height: 44px;
  left: -60px;
  bottom: 12px;
  position: absolute;
  background: url(/images/header/logo.svg);
}
.header__nav {
  margin-right: 50px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
}
.header__box-log {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
  margin-right: 10px;
  background: none;
}
.header__box-sign {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  color: #ffffff;
  background: #306ef7;
  border-radius: 10px;
}

.sign-up__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 75px;
}
.sign-up__title {
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: 0px;
  text-align: center;
}
.sign-up__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 75px;
}
.sign-up__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
  margin-bottom: 150px;
}
.sign-up__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.sign-up__right::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  bottom: 170px;
  right: 25px;
  z-index: 2;
  background: url(/images/ico/At_sign.svg);
}
.sign-up__input {
  background: #000000;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
  position: relative;
  max-width: 480px;
  padding-right: 300px;
  z-index: 1;
}
.sign-up__input:nth-child(1) {
  margin-bottom: 80px;
}
.sign-up__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.sign-up__left::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 32px;
  bottom: 135px;
  right: 10px;
  z-index: 2;
  background: url(/images/ico/User.svg);
}
.sign-up__left::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 25px;
  bottom: 15px;
  right: 8px;
  z-index: 2;
  background: url(/images/ico/Eye.svg);
}
.sign-up__btn {
  color: #ffffff;
  background: rgb(50, 108, 249);
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 195px;
  border-radius: 15px;
}
.sign-up__bottom-title {
  font-size: 54px;
  font-weight: 600;
  line-height: 81px;
  letter-spacing: 0px;
  text-align: center;
}
.sign-up__bottom-subtitle {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
.sign-up__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  margin-bottom: 70px;
}
.sign-up__bottom-btn {
  background: #000000;
  color: rgb(255, 255, 255);
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  padding: 22px 80px 22px 135px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  z-index: 1;
  position: relative;
}
.sign-up__bottom-btn:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 35px;
  bottom: 22px;
  left: 85px;
  z-index: 2;
  background: url(/images/ico/Facebook.svg);
}
.sign-up__bottom-btn:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 22px;
  left: 85px;
  z-index: 2;
  background: url(/images/ico/G_logo.svg);
}
.sign-up__bottom-btn:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 40px;
  bottom: 22px;
  left: 85px;
  z-index: 2;
  background: url(/images/ico/Apple_logo.svg);
}
.sign-up__bottom-subbox {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}