* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Slider */
.slick-slider {
  position: relative;
}

.slick-slide {
  width: 616px;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 32px;
  height: 32px;
}

.slick-next {
  right: 0;
  top: -55px;
  background: url(/images/ico/Arrow3.svg) 0 0/100%;
}
.slick-next:hover {
  background: url(/images/ico/Arrow2.svg) 0 0/100%;
}

.slick-prev {
  right: 50px;
  top: -55px;
  background: url(/images/ico/Arrow1.svg) 0 0/100%;
}
.slick-prev:hover {
  background: url(/images/ico/Arrow2.svg) 0 0/100%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0px 10px;
}

.slick-dots button {
  width: 30px;
  height: 4px;
  font-size: 0;
  background: url(/images/ico/Line.svg);
}

.slick-active button {
  width: 30px;
  height: 4px;
  font-size: 0;
  background: url(/images/ico/Line-Orange.svg);
}

html,
body {
  font-family: Manrope, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

/*------------------------------------*/
.text {
  font-size: 60px;
  text-align: center;
}

.maksin {
  display: block;
  margin: 0 auto;
}