@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-family: "Staatliches";
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --border-w: 3px;
}

/*------------------------------------*/
.backround {
  background: -webkit-gradient(linear, left top, left bottom, from(#0f1319), color-stop(21.95%, rgba(15, 19, 25, 0.5)), color-stop(31.73%, rgba(255, 255, 255, 0.5)), color-stop(39.19%, #ffffff));
  background: linear-gradient(180deg, #0f1319 0%, rgba(15, 19, 25, 0.5) 21.95%, rgba(255, 255, 255, 0.5) 31.73%, #ffffff 39.19%);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 80px;
  gap: 10px;
  margin-bottom: 96px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 32px;
}
.header #primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.header #primary_nav_wrap ul a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  line-height: 24px;
  margin-right: 60px;
}
.header #primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.header #primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}
.header #primary_nav_wrap ul ul li {
  float: none;
  max-width: 200px;
  white-space: nowrap;
}
.header #primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
.header #primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}
.header #primary_nav_wrap ul li:hover > ul {
  display: block;
}
.header__btn {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  border-radius: 100px;
  padding: 16px 24px;
  gap: 10px;
  color: #ffffff;
  background: none;
  position: relative;
}
.header__btn::before {
  content: "";
  position: absolute;
  inset: calc(0px - var(--border-w));
  border-radius: 100px;
  padding: 3px;
  background: linear-gradient(135deg, #B2A3FA 0%, #97DAFF 47.92%, #BFF489 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.main {
  color: #ffffff;
}
.main__subtitle {
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.64;
}