$gray: #3e4146;
$blue: #689bf6;
$yellow: #ffd84c;
$orange: #f66867;
$purple: #8e6ac1;
$white: #ffffff;
$black: #000000;

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
    -o-animation: #{$animation};
    animation: #{$animation};
}

@mixin animation-delay($animation-delay) {
    -webkit-transition-delay: #{$animation-delay};
    -moz-transition-delay: #{$animation-delay};
    -o-transition-delay: #{$animation-delay};
    transition-delay: #{$animation-delay};
}

@mixin keyframes($keyframes) {
    @-webkit-keyframes #{$keyframes} {
        @content;
    }
    @-moz-keyframes #{$keyframes} {
        @content;
    }
    @-o-keyframes #{$keyframes} {
        @content;
    }
    @keyframes #{$keyframes} {
        @content;
    }
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -webkit-transition: #{$transition};
    -moz-transition: #{$transition};
    -o-transition: #{$transition};
    transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: #{$transition-delay};
    -moz-transition-delay: #{$transition-delay};
    -o-transition-delay: #{$transition-delay};
    transition-delay: #{$transition-delay};
}
@include keyframes(float) {
    0% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
    50% {
        transform: translatey(-30px);
        transform: translatex(20px);
    }
    100% {
        transform: translatey(0px);
        transform: translatex(0px);
    }
}
.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) scale(0.9));
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    max-height: 1080px;
    overflow: hidden;
    opacity: 0;
    @include transition(all 0.3s);
    z-index: 10;
    background-color: #e25e5e;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    max-width: 1025px;

    @media (min-width: 768px) {
        width: calc(100% - 40px);
        height: auto;
        max-width: 900px;
    }

    .content {
        width: 100%;
        max-width: 900px;
        overflow: hidden;
        position: relative;
        min-height: 100vh;

        @media (min-width: 768px) {
            min-height: inherit;
        }

        .container {
            padding: 100px 20px 140px;

            @media (min-width: 568px) {
                padding: 50px 20px 80px;
            }

            @media (min-width: 768px) {
                padding: 50px 0px;
                max-width: 800px;
                margin: 0 auto;
            }
        }

        .close {
            position: absolute;
            top: 20px;
            right: 20px;

            &:hover {
                cursor: pointer;
                color: $orange;
            }
        }

        .pop-up__text {
            font-family: "Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            color: #ffffff;
            margin-bottom: 25px;
        }

        .title {
            p {
                font-weight: 700;
                font-size: 45px;
                text-align: center;
                line-height: 48px;
                letter-spacing: -0.03em;
                text-transform: uppercase;
                margin-bottom: 30px;
                color: #ffffff;
            }
        }
    }

    &.open {
        visibility: visible;
        opacity: 1;
        @include transform(translate(-50%, 100%) scale(1));

        img {
            opacity: 1;
            @include transition(1s);
            @include transition-delay(0.3s);
            @include transform(translateX(0px));
        }
    }
}
