@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html,
body {
    font-size: 30px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000000;
}
.container {
    max-width: 1655px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------------------------------------*/

.header {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 120px;
    }

    &__logo {
        font-style: normal;
        font-weight: 800;
        font-size: 37px;
        line-height: 56px;
        position: relative;
        margin-left: 65px;
        color: #ffffff;
        &::after {
            content: "";
            width: 46px;
            height: 44px;
            left: -60px;
            bottom: 12px;
            position: absolute;
            background: url(../images/header/logo.svg);
        }
    }

    &__nav {
        margin-right: 50px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
    }

    #nav-4 {
        color: rgb(60, 130, 244);
    }

    &__box {
    }

    &__box-log {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
        margin-right: 10px;
        background: none;
    }

    &__box-sign {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
        color: #ffffff;
        background: #306ef7;
        border-radius: 10px;
    }
}
.mission {
    margin-bottom: 190px;
    border-bottom: 1.5px solid #828282;
    &__logo {
        font-style: normal;
        font-weight: 800;
        font-size: 62px;
        line-height: 93px;
        position: relative;
        color: #ffffff;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 90px;
        &::after {
            content: "";
            width: 77px;
            height: 74px;
            left: 570px;
            bottom: 15px;
            position: absolute;
            background: url(../images/team/logo.png);
        }
    }

    &__blue {
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: #306ef7;
    }

    &__title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        text-align: center;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        margin-bottom: 190px;
    }

    &__body {
    }

    &__text {
        font-weight: 400;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 45px;
    }

    &__footer {
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 55px;
    }
}
.team {
    display: flex;
    flex-direction: column;
    margin-bottom: 190px;
    &__subtitle {
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        color: #306ef7;
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        margin-bottom: 60px;
        text-align: center;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 215px;
    }

    &__bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        margin-bottom: 18px;
    }

    &__name {
        font-weight: 700;
        font-size: 35px;
        line-height: 52px;
        text-align: center;
    }

    &__profesion {
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        margin-bottom: 22px;
        text-align: center;
    }

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        position: relative;
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            background: url(../images/ico/Arrow.svg);
            width: 15px;
            height: 17px;
            right: -20px;
            bottom: 7px;
        }
    }
}
.started {
    margin-bottom: 190px;
    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        width: 165px;
        height: 150px;
    }

    &__title {
        font-weight: 700;
        font-size: 100px;
        line-height: 150px;
    }

    &__text {
        font-weight: 400;
        font-size: 43px;
        line-height: 64px;
        margin-bottom: 15px;
    }

    &__btn {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #ffffff;
        background: #326cf9;
        padding: 30px 120px;
        border-radius: 15px;
        margin-bottom: 25px;
    }

    &__subbtn {
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: #707070;
        position: relative;
        span {
            font-weight: 700;
            color: #ffffff;
            margin-right: 10px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 29px;
            left: -40px;
            bottom: 5px;
            background: url(../images/header/dot.svg);
        }
    }
}
.footer {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        font-style: normal;
        font-weight: 800;
        font-size: 37px;
        line-height: 56px;
        position: relative;
        margin-left: 65px;
        &::after {
            content: "";
            width: 46px;
            height: 44px;
            left: -66px;
            bottom: 12px;
            position: absolute;
            background: url(../images/header/logo.svg);
        }
    }

    &__sublogo {
        font-weight: 400;
        font-size: 27px;
        line-height: 40px;
        color: #707070;
    }

    &__right {
    }

    &__nav {
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
    }

    #footer-3 {
        color: rgb(50, 109, 249);
    }
}
