@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html,
body {
    font-size: 30px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000000;
}
.container {
    max-width: 1655px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------------------------------------*/

.header {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 120px;
    }

    &__logo {
        font-style: normal;
        font-weight: 800;
        font-size: 37px;
        line-height: 56px;
        position: relative;
        margin-left: 65px;
        &::after {
            content: "";
            width: 46px;
            height: 44px;
            left: -60px;
            bottom: 12px;
            position: absolute;
            background: url(../images/header/logo.svg);
        }
    }

    &__nav {
        margin-right: 50px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
    }

    &__box {
    }

    &__box-log {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
        margin-right: 10px;
        background: none;
    }

    &__box-sign {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
        color: #ffffff;
        background: #306ef7;
        border-radius: 10px;
    }
}
.sign-up {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 75px;
    }

    &__title {
        font-size: 75px;
        font-weight: 600;
        line-height: 112px;
        letter-spacing: 0px;
        text-align: center;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 75px;
    }

    &__body {
        display: flex;
        align-items: center;
        gap: 150px;
        margin-bottom: 150px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            bottom: 170px;
            right: 25px;
            z-index: 2;
            background: url(../images/ico/At_sign.svg);
        }
    }

    &__input {
        background: #000000;
        color: #ffffff;
        font-size: 23px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0px;
        border-bottom: 1px solid rgb(255, 255, 255);
        position: relative;
        max-width: 480px;
        padding-right: 300px;
        z-index: 1;
        &:nth-child(1) {
            margin-bottom: 80px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 27px;
            height: 32px;
            bottom: 135px;
            right: 10px;
            z-index: 2;
            background: url(../images/ico/User.svg);
        }
        &::before {
            content: "";
            position: absolute;
            width: 34px;
            height: 25px;
            bottom: 15px;
            right: 8px;
            z-index: 2;
            background: url(../images/ico/Eye.svg);
        }
    }

    &__btn {
        color: #ffffff;
        background: rgb(50, 108, 249);
        font-size: 26px;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: center;
        padding: 15px 195px;
        border-radius: 15px;
    }

    &__bottom {
    }

    &__bottom-title {
        font-size: 54px;
        font-weight: 600;
        line-height: 81px;
        letter-spacing: 0px;
        text-align: center;
    }

    &__bottom-subtitle {
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: center;
    }

    &__bottom-box {
        display: flex;
        gap: 80px;
        margin-bottom: 70px;
    }

    &__bottom-btn {
        background: #000000;
        color: rgb(255, 255, 255);
        font-size: 21px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        padding: 22px 80px 22px 135px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 15px;
        z-index: 1;
        position: relative;
        &:nth-child(1) {
            &::after {
                content: "";
                position: absolute;
                width: 36px;
                height: 35px;
                bottom: 22px;
                left: 85px;
                z-index: 2;
                background: url(../images/ico/Facebook.svg);
            }
        }
        &:nth-child(2) {
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 35px;
                bottom: 22px;
                left: 85px;
                z-index: 2;
                background: url(../images/ico/G_logo.svg);
            }
        }
        &:nth-child(3) {
            &::after {
                content: "";
                position: absolute;
                width: 34px;
                height: 40px;
                bottom: 22px;
                left: 85px;
                z-index: 2;
                background: url(../images/ico/Apple_logo.svg);
            }
        }
    }

    &__bottom-subbox {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
    }
}
