@import "_nullstyle";
@import "_slick";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

$pink: #e25e5e;
$red: #d52a20;
$brown: #312a2a;

html,
body {
    font-family: "Nunito", sans-serif;
    font-family: "Mon Amour One", sans-serif;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.pink-btn {
    background: linear-gradient(89.1deg, #ed5252 21.17%, #e15d5d 64.27%);
    box-shadow: 1px 2px 0px #a33b3b;
    border-radius: 12px;
    padding: 22px 35px;
    color: #ffffff;
}

/*------------------------------------*/

.header {
    font-family: "Nunito";
    margin-bottom: 80px;
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
    }

    &__logo {
        margin-right: 100px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 58px;
    }

    &__link {
        color: #000;
    }

    &__link :nth-child(1) {
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    &__link :nth-child(2) {
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    &__link :nth-child(3) {
        flex: none;
        order: 2;
        flex-grow: 0;
    }
    &__link :nth-child(4) {
        flex: none;
        order: 3;
        flex-grow: 0;
    }
}
.main {
    &__content {
        font-family: "Nunito";
        display: flex;
    }

    &__text-box {
    }

    &__title {
        font-family: "Mon Amour One";
        font-weight: 550;
        font-size: 83px;
        line-height: 80px;
        color: $brown;
        margin-bottom: 40px;
        span {
            color: $red;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.045em;
        margin-bottom: 40px;
        white-space: nowrap;
    }

    &__btn-box {
        display: flex;
        align-items: center;
    }

    &__link {
        font-weight: 700;
        line-height: 25px;
        padding: 20px 32px;
        margin-left: 12px;
        color: $pink;
        border: 1px solid #e25e5e;
        backdrop-filter: blur(179px);
        border-radius: 12px;
    }

    &__timer-text {
        font-family: "Gilroy";
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0px 0px 5px 15px;
    }

    &__timer {
        width: 400px;
        border-radius: 15px;
        margin-right: 235px;
        margin-top: 50px;
        padding: 20px 0;
        background-color: $pink;
    }

    #timer-number-ff166aa496851e7afe758ecbe4baa011-hours {
        font-family: "Bebas Neue Cyrillic";
    }

    &__img-box {
    }

    &__img {
    }

    &__bottom {
    }

    &__bottom-text1 {
    }

    &__bottom-text2 {
    }
}
