@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

html,
body {
    font-size: 30px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000000;
}
.container {
    max-width: 1655px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------------------------------------*/

.header {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 120px;
    }

    &__logo {
        font-style: normal;
        font-weight: 800;
        font-size: 37px;
        line-height: 56px;
        position: relative;
        margin-left: 65px;
        &::after {
            content: "";
            width: 46px;
            height: 44px;
            left: -60px;
            bottom: 12px;
            position: absolute;
            background: url(/images/header/logo.svg);
        }
    }

    &__nav {
        margin-right: 50px;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
    }

    &__box {
    }

    &__box-log {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
        margin-right: 10px;
        background: none;
    }

    &__box-sign {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
        color: #ffffff;
        background: #306ef7;
        border-radius: 10px;
    }
}
.main {
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 190px;
    }

    &__title {
        font-weight: 700;
        font-size: 112px;
        line-height: 168px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 140px;
        span {
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__box {
        margin-bottom: 20px;
    }

    &__btn-1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        background: #326cf9;
        padding: 24px 75px;
        border-radius: 10px;
        margin-right: 5px;
    }

    &__btn-2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
        padding: 24px 75px;
        border: 1px solid #707070;
        background: none;
        border-radius: 10px;
        margin-left: 5px;
    }

    &__subbox {
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: #707070;
        position: relative;
        span {
            font-weight: 700;
            color: #ffffff;
            margin-right: 10px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 29px;
            left: -40px;
            bottom: 5px;
            background: url(/images/header/dot.svg);
        }
    }

    &__bottom {
        margin-bottom: 160px;
    }

    &__bottom-title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        margin-bottom: 65px;
        text-align: center;
    }

    &__bottom-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__bottom-box {
    }

    &__bottom-text {
        position: relative;
        font-weight: 600;
        font-size: 35px;
        line-height: 52px;
        margin-bottom: 10px;
        text-align: center;
    }

    #smile-1 {
        &::before {
            content: "";
            position: absolute;
            width: 38px;
            height: 38px;
            left: 19px;
            bottom: 8px;
            background: url(/images/ico/Smile_emoji.png);
        }
    }

    #smile-2 {
        &::before {
            content: "";
            position: absolute;
            width: 32px;
            height: 32px;
            left: 25px;
            bottom: 10px;
            background: url(/images/ico/Happy_emoji.png);
        }
    }

    #smile-3 {
        &::before {
            content: "";
            position: absolute;
            width: 44px;
            height: 43px;
            left: 35px;
            bottom: 10px;
            background: url(/images/ico/Party_emoji.png);
        }
    }

    &__bottom-subtext {
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        color: #707070;
        text-align: center;
    }
}
.step-1 {
    margin-bottom: 70px;
    &__top {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 180px;
    }

    &__blue {
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: #3d82f2;
    }

    &__title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #707070;
        margin-bottom: 35px;
    }

    &__btn {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
        padding: 25px 40px;
        background: none;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__left {
    }

    &__left-subtitle {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 80px;
    }

    &__left-title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        span {
            color: #3c82f4;
        }
    }

    &__left-1 {
        font-weight: 400;
        font-size: 23px;
        line-height: 34px;
        position: relative;
        margin-left: 25px;
        margin-bottom: 10px;
        &::before {
            position: absolute;
            content: "";
            width: 33px;
            height: 33px;
            left: -40px;
            bottom: 5px;
            background: url(/images/ico/1.svg);
        }
    }

    &__left-2 {
        font-weight: 400;
        font-size: 23px;
        line-height: 34px;
        position: relative;
        margin-bottom: 66px;
        margin-left: 25px;
        &::before {
            position: absolute;
            content: "";
            width: 33px;
            height: 33px;
            left: -40px;
            bottom: 5px;
            background: url(/images/ico/2.svg);
        }
    }

    &__left-box {
    }

    &__left-btn-1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-right: 25px;
        color: #ffffff;
        background: #326cf9;
        padding: 18px 22px;
        border-radius: 10px;
    }

    &__left-btn-2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-right: 25px;
        color: #707070;
        background: #0e0e0e;
        padding: 18px 34px;
        border: 1px solid #707070;
        border-radius: 10px;
    }

    &__right {
    }

    &__img {
    }
}
.step-2 {
    margin-bottom: 190px;
    &__top {
    }

    &__blue {
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        color: #3d82f2;
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        color: #ffffff;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #707070;
        margin-bottom: 180px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        margin-bottom: 50px;
    }

    &__left {
        padding: 30px 0px 0px 30px;
        position: relative;
        background: #0d0d0d;
        height: 666px;
        &::after {
            position: absolute;
            content: "";
            width: 680px;
            height: 336px;
            right: 0;
            bottom: 0;
            background: url(/images/step-2/Mobile.png);
        }
    }

    &__green {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        color: #0fc65c;
    }

    &__bottom-title {
        font-weight: 600;
        font-size: 80px;
        line-height: 120px;
        color: #919191;
        span {
            color: #ffffff;
        }
    }

    &__right {
        padding: 30px 0px 0px 30px;
        background: #0d0d0d;
        height: 666px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__btn {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        background: #326cf9;
        padding: 22px 90px;
        border-radius: 15px;
    }
}
.step-3 {
    margin-bottom: 100px;
    &__top {
        margin-bottom: 190px;
    }

    &__blue {
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
        color: #3d82f2;
        text-align: center;
    }

    &__title {
        font-weight: 500;
        font-size: 75px;
        line-height: 112px;
        text-align: center;
    }

    &__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        color: #707070;
    }
}
.expert {
    margin-bottom: 190px;
    &__content {
    }

    &__title {
        font-weight: 600;
        font-size: 75px;
        line-height: 112px;
        text-align: center;
        margin-bottom: 55px;
    }

    &__img {
        width: 100%;
    }
}
.audience {
    padding: 300px 0;
    margin-bottom: 190px;
    background: url(/images/audience/1.png) no-repeat;
    &__title {
        font-weight: 600;
        font-size: 70px;
        line-height: 105px;
        text-align: center;
    }
}
.started {
    margin-bottom: 190px;
    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        width: 165px;
        height: 150px;
    }

    &__title {
        font-weight: 700;
        font-size: 100px;
        line-height: 150px;
    }

    &__text {
        font-weight: 400;
        font-size: 43px;
        line-height: 64px;
        margin-bottom: 15px;
    }

    &__btn {
        font-weight: 600;
        font-size: 30px;
        line-height: 45px;
        color: #ffffff;
        background: #326cf9;
        padding: 30px 120px;
        border-radius: 15px;
        margin-bottom: 25px;
    }

    &__subbtn {
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        text-align: center;
        color: #707070;
        position: relative;
        span {
            font-weight: 700;
            color: #ffffff;
            margin-right: 10px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 29px;
            left: -40px;
            bottom: 5px;
            background: url(/images/header/dot.svg);
        }
    }
}
.footer {
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        font-style: normal;
        font-weight: 800;
        font-size: 37px;
        line-height: 56px;
        position: relative;
        margin-left: 65px;
        &::after {
            content: "";
            width: 46px;
            height: 44px;
            left: -66px;
            bottom: 12px;
            position: absolute;
            background: url(/images/header/logo.svg);
        }
    }

    &__sublogo {
        font-weight: 400;
        font-size: 27px;
        line-height: 40px;
        color: #707070;
    }

    &__right {
    }

    &__nav {
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__item {
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #707070;
    }
}
