@import "_nullstyle";
@import "_slick";

html,
body {
    font-family: Manrope, sans-serif;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}
.button {
    
}

/*------------------------------------*/


